{
  "branches": [
    "main"
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalCommits",
        "releaseRules": [
          {
            "type": "revert",
            "release": "patch"
          },
          {
            "type": "docs",
            "release": "patch"
          },
          {
            "type": "style",
            "release": "patch"
          },
          {
            "type": "chore",
            "release": "patch"
          },
          {
            "type": "refactor",
            "release": "patch"
          },
          {
            "type": "test",
            "release": "patch"
          },
          {
            "type": "build",
            "release": "patch"
          },
          {
            "type": "ci",
            "release": "patch"
          }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalCommits",
        "presetConfig": {
          "types": [
            {
              "type": "feat",
              "section": "New Features",
              "hidden": false
            },
            {
              "type": "fix",
              "section": "Bug Fixes",
              "hidden": false
            },
            {
              "type": "perf",
              "section": "Performance Improvements",
              "hidden": false
            },
            {
              "type": "revert",
              "section": "Reverts",
              "hidden": false
            },
            {
              "type": "docs",
              "section": "Documentation",
              "hidden": false
            },
            {
              "type": "style",
              "section": "Styles",
              "hidden": false
            },
            {
              "type": "chore",
              "section": "Miscellaneous Chores",
              "hidden": false
            },
            {
              "type": "refactor",
              "section": "Code Refactors",
              "hidden": false
            },
            {
              "type": "test",
              "section": "Tests",
              "hidden": false
            },
            {
              "type": "build",
              "section": "Build System",
              "hidden": false
            },
            {
              "type": "ci",
              "section": "CI/CD",
              "hidden": false
            }
          ]
        }
      }
    ],
    "@semantic-release/npm",
    "@semantic-release/github"
  ]
}
